:root {
  --tipografiaGeneral: "Audiowide";
  --backgroundColor: #000000;
  --fontsColor: #fff;
  --colorBordo: #5c0000;
  --colorBordoMásClaro: #800000;
  --colorRojoOscuro: #bb0000;
  --colorRojoVivo: #ff0000;
}